*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
}